/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  background-color: #FFFFFF;
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  font-size: 14px;
  color: #757575;
  margin: 0;
}

:root {
  --name-color: #212121;
  --hover-color: #2196f3;
  --animation: cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin-top: 0;
  margin-bottom: 0;
  text-decoration: none;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header__logo {
  font-family: "Raleway", "Verdana", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}

.header__logo-accent, .footer__logo-accent {
  color: var(--hover-color);
}

.footer__footer-logo {
  color: #FFFFFF;
  margin-bottom: 20px;
  font-family: "Raleway", "Verdana", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: block;
}

/* header */
header {
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ececec;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header, .header .header__navigation-contact, .header .header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__navigation-item {
  display: inline-block;
}
.header__navigation-item:not(:last-child) {
  margin-right: 50px;
}
.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--name-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--animation);
          transition-timing-function: var(--animation);
}
.header__link::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  opacity: 0;
  -webkit-transition: opacity 250ms var(--animation);
  transition: opacity 250ms var(--animation);
}
.header__link:hover::after {
  opacity: 1;
  border-radius: 4px;
}
.header .current::after {
  opacity: 1;
  border-radius: 4px;
}
.header__navigation-contact {
  margin-left: auto;
}
.header__navigation-contact-item:first-child {
  margin-right: 50px;
}
.header__link:hover, .header__contact:hover, .header__link:focus, .header__contact:focus,
.header .current {
  color: var(--hover-color);
}
.header__contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--animation);
          transition-timing-function: var(--animation);
}
.header__contact:hover .header__icon-contact, .header__contact:focus .header__icon-contact {
  fill: var(--hover-color);
}
.header__icon-contact {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--animation);
          transition-timing-function: var(--animation);
}

/* order service */
.main-section {
  background: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-section.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-section.jpg);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.main-section__main-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  margin: auto;
}
.main-section__button-service {
  font-family: "Roboto";
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 30px;
  min-width: 13px;
}

/* our advantages */
.advantages-section {
  margin: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-section__advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}
.advantages-section__advantages-item {
  letter-spacing: 0.03em;
  margin-right: 30px;
  width: 270px;
}
.advantages-section__advantages-item:last-child {
  margin-right: 0px;
}
.advantages-section__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}
.advantages-section__advantage-icon {
  width: 70px;
  height: 70px;
}
.advantages-section__advantages {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--name-color);
  margin-bottom: 10px;
}
.advantages-section__advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* visual example */
.visual-section {
  padding-top: 0;
}

.visual-section__section-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--name-color);
  margin-bottom: 50px;
  margin-top: 0;
}

.visual-section__visual-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visual-section__visual-item {
  position: relative;
  display: block;
}
.visual-section__visual-item:not(:last-child) {
  margin-right: 30px;
}

.visual-section__name-work {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding-top: 27px;
}

/* our team */
.section-team {
  background-color: #f5f7fa;
}

.section-team__section-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--name-color);
  margin-bottom: 50px;
  margin-top: 0;
}

.section-team__team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-team__team-unit {
  text-align: center;
  margin-right: 30px;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #FFFFFF;
}

.section-team__team-unit:last-child {
  margin-right: 0px;
}

.section-team__team-img {
  padding-bottom: 30px;
}

.section-team__teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--name-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.section-team__teammate-position {
  font-size: 16px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  margin-top: 0;
}

.section-team__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-team__link-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--animation);
          transition-timing-function: var(--animation);
}
.section-team__link-area:hover, .section-team__link-area:focus {
  background-color: var(--hover-color);
}
.section-team__link-area:hover .section-team__social-links, .section-team__link-area:focus .section-team__social-links {
  fill: #FFFFFF;
}

.section-team__social-links {
  width: 20px;
  height: 20px;
  fill: rgb(175, 177, 184);
}

/* clients */
.clients__section-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--name-color);
  margin-bottom: 50px;
  margin-top: 0;
}

.clients__client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__client-list li:not(:last-child) {
  margin-right: 30px;
}

.clients__client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  text-align: center;
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--animation);
          transition-timing-function: var(--animation);
}
.clients__client-link:hover, .clients__client-link:focus {
  border: 2px solid var(--hover-color);
  border-radius: 4px;
}
.clients__client-link:hover .clients__client-item, .clients__client-link:focus .clients__client-item {
  fill: var(--hover-color);
}

.clients__client-item {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--animation);
          transition-timing-function: var(--animation);
}

/* footer */
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__location {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 9px;
}

.footer__footer-icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.address,
.footer__footer-contact-item:first-child {
  margin-bottom: 9px;
}

.footer__contact-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--animation);
          transition-timing-function: var(--animation);
}
.footer__contact-footer:hover, .footer__contact-footer:focus {
  color: var(--hover-color);
}

.footer__container-footer-icons {
  margin-top: 12px;
  margin-left: 70px;
}

.footer__container-footer-icons:last-child {
  margin-left: auto;
}

.footer__container-footer-icons h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__footer-social-icons:not(:last-child) {
  margin-right: 10px;
}

.footer__footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--animation);
          transition-timing-function: var(--animation);
}
.footer__footer-social-link:hover, .footer__footer-social-link:focus {
  background-color: var(--hover-color);
}

.footer__footer-social-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.footer__footer-join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__footer-join-label {
  margin-bottom: 20px;
  color: #f5f7fa;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.03em;
  -webkit-text-decoration: str;
          text-decoration: str;
  text-transform: uppercase;
}

.footer__footer-join-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__footer-join-input {
  width: 358px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  padding: 15px 15px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
}

.footer__footer-join-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  padding: 10px 3px;
  border-radius: 4px;
  margin-left: 12px;
  color: #ffffff;
  background-color: var(--hover-color);
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__footer-join-icon {
  margin-left: 10px;
  fill: currentColor;
}

/* portfolio */
.portfolio__button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio__button-item {
  margin-right: 8px;
}

.portfolio__button-item:last-child {
  margin-right: 0px;
}

.portfolio__portfolio-button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--name-color);
  cursor: pointer;
  padding: 6px 22px;
  border: 0;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--animation);
          transition-timing-function: var(--animation);
}
.portfolio__portfolio-button:hover, .portfolio__portfolio-button:focus {
  background: var(--hover-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.portfolio__portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__portfolio-list > .portfolio__portfolio-section {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio__portfolio-section:hover, .portfolio__portfolio-section:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__portfolio-section:nth-child(3n) {
  margin-right: 0;
}
.portfolio__portfolio-section:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio__portfolio-link {
  display: block;
  text-decoration: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--animation);
          transition-timing-function: var(--animation);
}
.portfolio__portfolio-link:hover .portfolio__portfolio-thumb::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio__portfolio-link:hover .portfolio__portfolio-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio__portfolio-thumb::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--animation);
  transition: -webkit-transform 250ms var(--animation);
  transition: transform 250ms var(--animation);
  transition: transform 250ms var(--animation), -webkit-transform 250ms var(--animation);
}

.portfolio__portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--animation);
  transition: -webkit-transform 250ms var(--animation);
  transition: transform 250ms var(--animation);
  transition: transform 250ms var(--animation), -webkit-transform 250ms var(--animation);
}

.portfolio__portfolio-about {
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio__portfolio-section {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio__portfolio-discription {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio__portfolio-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--name-color);
  margin-bottom: 4px;
}

.portfolio__portfolio-type {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--animation), visibility 250ms var(--animation);
  transition: opacity 250ms var(--animation), visibility 250ms var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms var(--animation);
  transition: -webkit-transform 250ms var(--animation);
  transition: transform 250ms var(--animation);
  transition: transform 250ms var(--animation), -webkit-transform 250ms var(--animation);
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}
.modal__modal-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-transition-timing-function: var(--animation);
          transition-timing-function: var(--animation);
}
.modal__modal-btn:hover {
  cursor: pointer;
  fill: var(--hover-color);
}
.modal__modal-icon {
  width: 11px;
  height: 11px;
}

/* modal-form */
.modal-form__modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--name-color);
}
.modal-form__field {
  position: relative;
  text-align: left;
  margin-bottom: 10px;
}
.modal-form__modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding: 0;
  margin-bottom: 4px;
}
.modal-form__field-input {
  position: relative;
  margin-bottom: 10px;
}
.modal-form__input {
  padding: 12px 12px 12px 42px;
}
.modal-form__input, .modal-form__textarea-input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin: 0;
  font-size: 14px;
  line-height: 1.1721;
  -webkit-transition-property: border, background-color, -webkit-box-shadow;
  transition-property: border, background-color, -webkit-box-shadow;
  transition-property: border, background-color, box-shadow;
  transition-property: border, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--animation);
          transition-timing-function: var(--animation);
}
.modal-form__icon {
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentColor;
  color: rgb(33, 33, 33);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--animation);
          transition-timing-function: var(--animation);
}
.modal-form__feedback {
  text-align: left;
}
.modal-form__textarea-input {
  min-height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
}
.modal-form__textarea-input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea-input::-moz-placeholder {
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea-input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea-input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea-input::placeholder {
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea-input:focus {
  border: 1px solid var(--hover-color);
  outline: none;
}
.modal-form__input:focus {
  border: 1px solid var(--hover-color);
  outline: none;
}
.modal-form__input:focus ~ .modal-form__icon {
  color: var(--hover-color);
}
.modal-form__modal-link {
  color: var(--hover-color);
  text-decoration: underline;
}
.modal-form__label-agree {
  position: relative;
  padding-left: 24px;
  margin-left: 10px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.7143;
}
.modal-form__unchecked-icon {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 0;
  opacity: 1;
  border-radius: 2px;
}
.modal-form__visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-form__checked-icon {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  border-radius: 2px;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--animation);
          transition-timing-function: var(--animation);
}
.checkbox:checked ~ .modal-form__checked-icon {
  opacity: 1;
}
.modal-form__modal-link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--hover-color);
}
.modal-form__btn-send {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  padding: 10px 55px 10px 58px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--hover-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}/*# sourceMappingURL=main.css.map */