body {
    background-color: #FFFFFF;
    font-family: 'Roboto','Verdana', 'Tahoma', sans-serif;
    color: #757575;
    margin: 0;
}

:root {
    --name-color: #212121;
    --hover-color: #2196f3;
    --animation: cubic-bezier(0.4, 0, 0.2, 1);
}
ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a{
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none
}

.section, section {
    padding-top: 94px;
    padding-bottom: 94px;
}  

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto
}

/* header */

.header-logo{
    font-family: 'Raleway', 'Verdana', 'Tahoma', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    margin-right: 93px
}

.logo-accent {
    color: var(--hover-color);
}

.header-section {
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ececec;
    flex-wrap: nowrap;
}

.navigation-item{
    display: inline-block;
 }
.navigation, .header-container, .navigation-contact{
    display: flex;
    align-items: center
}

.navigation-contact{
    margin-left: auto;
}

.icon-contact{
    margin-right: 10px;
    fill: #757575;
}

.contact:hover .icon-contact,
.contact:focus .icon-contact{
    fill: var(--hover-color);
}


.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--name-color);

    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    position: relative;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--animation);
}

.navigation-item:not(:last-child) {
    margin-right: 50px;
}

.navigation-contact-item:first-child {
    margin-right: 50px;
}

.link:hover, 
.contact:hover, 
.link:focus, 
.contact:focus, 
.current, 
.contact-footer:hover, 
.contact-footer:focus{
    color: var(--hover-color);
}


.link::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--hover-color);
    opacity: 0;
    transition: opacity 250ms var(--animation);
}

.current::after {
    opacity: 1;
    border-radius: 4px;
}

.link:hover::after { 
    opacity: 1;
    border-radius: 4px;
}


.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    
    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--animation);

}

.main-section {
    background: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
    url(../images/main-section.jpg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    
}

.main-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    margin: auto;
}

.button-service {
    font-family: 'Roboto';
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 30px;
    min-width: 13px;
}

.advantages {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--name-color);
    margin-bottom: 10px;
}

.advantage-icon{
    width: 70px;
    height: 70px;
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;
    width: 270px;
    height: 120px;
}

.advantages-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.advantages-section {
    margin: auto;
    padding-top: 94px;
    padding-bottom: 94px;
}

.advantages-list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

.advantages-item{
    letter-spacing: 0.03em;
    margin-right: 30px;
    width: 270px;
}

.advantages-item:last-child{
    margin-right: 0px;
}

.visual-section{
    padding-top: 0
}

.section-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--name-color);
    margin-bottom: 50px;
    margin-top: 0;
}

.visual-list{
    display: flex;
}

.visual-item{
    position: relative;
    display: block;
}

.visual-item:not(:last-child){
    margin-right: 30px;
}

.name-work{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding-top: 27px;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section-team{
    background-color: #f5f7fa
}

.team-list{
    display: flex;
}

.team-unit{
    text-align: center;
    margin-right: 30px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    background: #FFFFFF
}

.team-unit:last-child{
    margin-right: 0px;
}

.team-img{
    padding-bottom: 30px;
}

.teammate-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--name-color);
    margin-top: 0;
    margin-bottom: 10px;
}

.teammate-position {
    font-size: 16px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    margin-top: 0;
}

.social-list {
    display: flex;
    list-style: none;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.social-links {
    width: 20px;
    height: 20px;
    fill: rgba(175, 177, 184, 1);
}

.link-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--animation);
}

.link-area:hover,
.link-area:focus{
    background-color: var(--hover-color);
}

.link-area:hover .social-links,
.link-area:focus .social-links{
    fill: #FFFFFF
}


.client-list{
    display: flex;
}

.client-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    text-align: center;

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--animation);
}

.client-item{
    width: 106px;
    height: 60px;
    fill: #afb1b8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--animation);
}

.client-list li:not(:last-child){
    margin-right: 30px;
}

.client-link:hover,
.client-link:focus{
    border: 2px solid var(--hover-color);
    border-radius: 4px;
}

.client-link:hover .client-item,
.client-link:focus .client-item{
    fill: var(--hover-color);
}

.location {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 9px;
}

/* footer */

footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.contact-footer {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--animation);
}

.footer-logo {
    color: #FFFFFF;
    margin-bottom: 20px;
    font-family: 'Raleway', 'Verdana', 'Tahoma', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: block;
}

.address, .footer-contact-item:first-child {
    margin-bottom: 9px;
}

footer .container{
    display: flex;
}

.container-footer-icons{
    margin-top: 12px;
    margin-left: 70px;
}

.container-footer-icons h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-icons-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}


.footer-social-icons:not(:last-child) {
    margin-right: 10px;
}

.footer-social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--animation);
}

.footer-social-link:hover,
.footer-social-link:focus{
    background-color:var(--hover-color)
}

.footer-social-icon{
    width: 20px;
    height: 20px;
    fill: #fff;
}

.button-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--name-color);
    cursor: pointer;
    padding: 6px 22px;
    border: 0;

    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--animation);
}

.button-item{
    margin-right: 8px;
}

.button-item:last-child{
    margin-right: 0px;
}

.portfolio-button:hover, .portfolio-button:focus {
    background: var(--hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
}

.portfolio-list > .portfolio-section {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-link {
    display: block;
    text-decoration: none;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--animation);
}

.portfolio-link:hover .portfolio-overlay{
    transform: translateY(0);
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-thumb::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms var(--animation);
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: transform 250ms var(--animation);
}

.portfolio-about {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.portfolio-link:hover .portfolio-thumb::before{
    transform: translateY(0);
}

.portfolio-section{
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-section:hover,
.portfolio-section:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-section:nth-child(3n) {
    margin-right: 0;
}

.portfolio-section:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio-discription{
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding: 20px 24px;
}

.portfolio-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--name-color);
    margin-bottom: 4px;
}

.portfolio-type {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color:#ffffff;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 
                0px 1px 1px rgb(0 0 0 / 14%), 
                0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
}

.modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

.modal-icon {
    width: 11px;
    height: 11px;
}
