/* clients */

.clients__section-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--name-color);
    margin-bottom: 50px;
    margin-top: 0;
}

.clients__client-list {
    display: flex;
}

.clients__client-list li:not(:last-child) {
    margin-right: 30px;
}

.clients__client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    text-align: center;

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--animation);


&:hover,
&:focus {
    border: 2px solid var(--hover-color);
    border-radius: 4px;
}

&:hover .clients__client-item,
&:focus .clients__client-item {
    fill: var(--hover-color);
}
}

.clients__client-item {
    width: 106px;
    height: 60px;
    fill: #afb1b8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--animation);
}