/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms var(--animation), visibility 250ms var(--animation);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%),
        0px 1px 1px rgb(0 0 0 / 14%),
        0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--animation);
    padding: 40px;
    @media screen and (max-width: 479px) {
        padding: 15px;
        width: calc(100% - 20px);
    }
    
    @media screen and (min-width: 480px) and (max-width: 1199px) {
        width: 450px;
    }


&__modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    transition-timing-function: var(--animation);


&:hover {
    cursor: pointer;
    fill: var(--hover-color);
}
}

&__modal-icon {
    width: 11px;
    height: 11px;
}
}
/* modal-form */

.modal-form{
    
    &__modal-title {
        margin-bottom: 12px;

        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;

        color: var(--name-color);
    }

    &__field {
        position: relative;
        text-align: left;
        margin-bottom: 10px;
    }

    &__modal-label {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        padding: 0;
        margin-bottom: 4px;
    }

    &__field-input {
        position: relative;
        margin-bottom: 10px;
    }

    &__input {
        padding: 12px 12px 12px 42px;
    }

    &__input,
    &__textarea-input {
        width: 100%;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        margin: 0;
        font-size: 14px;
        line-height: 1.1721;

        transition-property: border, background-color, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: var(--animation);
    }

    &__icon {
        display: inline-block;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        fill: currentColor;
        color: rgba(33, 33, 33, 1);

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: var(--animation);
    }

    &__feedback {
        text-align: left;
    }

    &__textarea-input {
        min-height: 120px;

        padding: 12px 16px;
        margin-bottom: 20px;
        resize: none;


        &::placeholder {
            font-size: 14px;
            line-height: 1.1429;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
        }

        &:focus {
            border: 1px solid var(--hover-color);
            outline: none;
        }
    }

    &__input:focus{
        border: 1px solid var(--hover-color);
        outline: none;
    }

    &__input:focus~&__icon {
        color: var(--hover-color);
    }

    &__modal-link {
        color: var(--hover-color);
        text-decoration: underline;
    }

    &__label-agree {
        position: relative;
        color: #757575;
        line-height: 1.17;
        font-size: 12px;
        
        @media screen and (min-width: 420px) {
            display: inline-flex;
            align-items: center;
        }
        
        @media screen and (min-width: 1200px) {
            line-height: 1.71;
            margin-left: 14px;
            font-size: 14px;
        }
    }

    &__agree {
        @media screen and (max-width: 479px) {
            text-align: center;
        }
    }
    
    &__unchecked-icon {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 0;
        opacity: 1;

        border-radius: 2px;
    }

    &__visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    &__checked-icon {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        opacity: 0;

        border-radius: 2px;

        transition-property: opacity;
        transition-duration: 250ms;
        transition-timing-function: var(--animation);
    }
    .modal-form__agree-text{
        padding-left: 20px;
        padding-right: 3px;
    }

    .checkbox:checked~&__checked-icon {
        opacity: 1;
    }

    &__modal-link {

        text-decoration-line: underline;
        color: var(--hover-color);
    }

    &__btn-send {
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        width: 200px;
        height: 50px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);

        padding: 10px 55px 10px 58px;

        font-weight: 700;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.06em;
        color: #ffffff;

        background: var(--hover-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: none;
        border-radius: 4px;
    }
}