/* our team */

.section-team {
    background-color: #f5f7fa
}

.section-team__section-item {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    
    @media screen and (max-width: 1199px) {
        margin-bottom: 30px;
        font-size: 28px;
    }
}

.section-team__team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.section-team__team-unit {
    width: 450px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
    @media screen and(min-width:768px) {
        width: 354px;
    }
    
    @media screen and(min-width:1200px) {
        width: 270px;
    }
}

.section-team__team-unit:last-child {
    margin-right: 0px;
}

.section-team__team-img {
    padding-bottom: 30px;
}

.section-team__teammate-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--name-color);
    margin-top: 30px;
    margin-bottom: 10px;
}

.section-team__teammate-position {
    font-size: 16px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.section-team__social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

.section-team__link-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--animation);

    &:hover,
    &:focus {
        background-color: var(--hover-color);
    }

    &:hover .section-team__social-links,
    &:focus .section-team__social-links {
        fill: #FFFFFF
    }
}

.section-team__social-links {
    width: 20px;
    height: 20px;
    fill: rgba(175, 177, 184, 1);
}